body {
  font-family: 'Public Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 0 auto;
}

main {
  flex: 1 0 auto;
}

.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
