//
// Public Sans
//

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Thin.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-ExtraLight.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Light.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Medium.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-SemiBold.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Bold.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans/PublicSans-Black.woff2') format('woff2'),
    url('../fonts/PublicSans/PublicSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

//
// Hind
//

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-Light.woff2') format('woff2'), url('../fonts/Hind/Hind-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-Regular.woff2') format('woff2'), url('../fonts/Hind/Hind-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-Medium.woff2') format('woff2'), url('../fonts/Hind/Hind-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-Bold.woff2') format('woff2'), url('../fonts/Hind/Hind-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind/Hind-SemiBold.woff2') format('woff2'), url('../fonts/Hind/Hind-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
